# Ignore the node_modules directory

# Ignore Logs
logs
*.log
*.ipynb_checkpoints/

# Ignore the build directory
.ipynb_checkpoints/

# The file containing environment variables 
.env

# Ignore IDE specific files
.DS_Store

